body {
  background-color: darkseagreen;
  height: 100vh;
  margin-block: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

#title {
  font-weight: bolder;
  font-size: 65px;
  text-align: center;
}

#top-section {
  display: flex;
  justify-content: space-around;
}

.name {
  font-size: xx-large;
  font-style: italic;
  text-decoration: underline pink;
  text-underline-offset: 8px;
}

#announcement {
  font-weight: bold;
  font-size: xx-large;
}

#turn-button-container {
  display: flex;
  justify-content: center;
}

#turn-button {
  max-width: 100px;
  border-radius: 4px;
  background-color: bisque;
}

#board-section {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

.board {
  display: flex;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  min-height: 10px;
}

.space {
  background-color: aqua;
  border: black solid 2px;
  border-top: 0px;
  border-left: 0px;
  aspect-ratio: 1 / 1;
  min-width: 30px;
  max-height: 40px;
}

.space.top {
  border-top: black solid 2px;
}

.space.left {
  border-left: black solid 2px;
}

.space:hover {
  opacity: 30%;
  background-color: gold;
  cursor: pointer;
}

.space.hit {
  background: repeating-linear-gradient(
  45deg,
  red,
  red 4px,
  aqua 4px,
  aqua 7px
);
}

.space.miss {
  background: repeating-linear-gradient(
  135deg,
  lightgrey,
  lightgrey 5px,
  white 5px,
  white 10px
);
}


.space.hit:hover,
.space.miss:hover {
  cursor: not-allowed;
}

#border {
  border-inline:orangered solid 5px;
  height: 100%;
}